*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    color: #fff;
    font-family: Montserrat, sans-serif;
}
.container{
    width: 100%;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 65px;
    padding: 0px 6%;
    background-color: #171717;
    position: sticky;
    top: 0;
    z-index: 3;
}
header .logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    height: 100%;
}
header .logo img{
    width: 40px;
    height: 40px;
}
header .logo h1{
    color: #FF7200;
    font-size: 16px;
    margin-left: 5%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.menu{
    height: 100%;
    position: relative;
}
.menu>ul{
    display: flex;
    line-height: 65px;
    list-style: none;
    height: 100%;
}
.menu>ul>li{
    position: relative;
    margin-right: 40px;
}   
.menu>ul>li>a{
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: gainsboro;
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    font-size: 12px;
    font-weight: bold;
}
.menu>ul>li>a::before{
    content: "";
    background: #6d6d6d;
    height: 2%;
    width: 0px;
    position: absolute;
    bottom: 15px;
    left: 0;
    transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.menu>ul>li:hover>a::before{
    width: 100%;
}
.menu>ul>li.has-child::after{
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f107";
    color: white;
    position: absolute;
    top: 0px;
    right: -15px;
}
.icons{
    height: 100%;
    position: relative;
}
.icons>ul{
    display: flex;
    height: 100%;
    line-height: 65px;
    list-style: none;
}
.icons>ul>li{
    position: relative;
    height: 100%;
}
.icons>ul>li i {
    color: #fff;
    padding: 0 20px;
    z-index: 2;
}
.icons>ul>li::before{
    content: "";
    background: #6d6d6d;
    width: 0%;
    height: 2%;
    position: absolute;
    bottom: 15px;
    left: 0;
}
.icons>ul>li:hover::before{
    transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    width: 100%;
}
.icons>ul .input {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-decoration: none;
    position: relative;
}
.icons>ul>li #input{
    position: absolute;
    right: 0px;
    top: 30%;
    width: 100%;
    height: 100%;
}
.icons>ul>li #input{
    border-radius: 50px;
    width: 350%;
    height: 45%;
    color: #000;
    padding: 0 10px;
    text-decoration: none;
    display: none;
}
.icons>ul>li:hover #input{
    display: block;
    transition: 2s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.icons>ul>li.input:hover i{
    color: #000;
    transition: 0.5s;
}
#cart:hover .cart{
    display: block;
}
.cart{
    width: 280px;
    max-height: 540px;
    margin: auto;
    text-align: center;
    background-color: #fff;
    padding: 1% 10px;
    transition: all 0.5s;
    z-index: 4;
    position: absolute;
    right: 0px;
    border: 1px solid #b1b1b1;
    display: none;
}
.producct{
    max-height: 400px;
    overflow-y: scroll;
}
.fa-caret-up{
    position: fixed;
    right: 80px;
    top: 57px;
    z-index: 7;
}
.cart .items{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    border-bottom: 1px solid #000;
}
.items nav{
    color: #000;
    width: 120px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cart img{
    width: 60px;
    height: 60px;
}
.cart .name{
    font-size: 20px;
    font-family: Barlow, sans-serif;
}
.cart .price{
    font-size: 15px;
    font-family: Barlow, sans-serif;
    color: #b1b1b1;
    font-weight: 500;
}sup{
    color: #b1b1b1;
    font-family: Barlow, sans-serif;
}
.cart button{
    background-color: #FF7200;
    padding: 7px 80px;
    font-weight: 500;
    font-family: Barlow, sans-serif;
    font-size: 16px;
}
.price-total{
    display: flex;
    justify-content: space-between;
}
.price-total p{
    font-family: Barlow, sans-serif;
    color: #6d6d6d;
    font-size: 18px;
    font-weight: 500;
}
.price-total span{
    font-family: Barlow, sans-serif;
    color: #6d6d6d;
    font-size: 18px;
    font-weight: 500;
}
.sub-menu{
    background-color: #000;
    width: 200px;
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
}
.sub-menu li{
    list-style: none;
    margin-left: 10%;
    position: relative;
}
.sub-menu>li>a{
    text-decoration: none;
    width: 100%;
    height: 100%;
    color: rgb(184, 184, 184);
    font-size: 14px;
    font-family: Barlow, sans-serif;
    letter-spacing: 0.1em;
    font-weight: 500;
}
.sub-menu>li:hover>a{
    color: #fff;
}
.menu .sub-menu>li>a::before{
    content: "";
    background: #6d6d6d;
    height: 2%;
    width: 0px;
    position: absolute;
    bottom: 15px;
    left: 0;
    transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.menu .sub-menu>li:hover>a::before{
    width: 60%;
}
.menu>ul>li:hover>.sub-menu{
    display: block;
}

.slideshow-container{
    width: 100%;
    height: 425px;
}

  
.slideshow-container img {
    width: 100%;
    height: 430px;
}
.slides #image{
    transition: opacity 0.5s ease-in-out;
}
.slideshow-container:hover  .prev,.slideshow-container:hover .next,.slideshow-container:hover .auto,.slideshow-container:hover .pause{
    display: block;
}
.prev, .next {
    position: absolute;
    top: 40%;
    margin: 0 20px;
    transform: translateY(-50%);
    z-index: 1;
    width: 40px;
    height: 40px;
    border: 1px solid #F1F1F1;
    border-radius: 50%;
    background-color: transparent;
    display: none;
}
.prev:hover, .next:hover{
    background-color: #FF7200;
    border: none;
}
.prev i, .next i{
    font-size: 20px;
}
.prev {
    left: 0;
}

.next {
    right: 0;
}
.auto,.pause{
    position: absolute;
    top: 75%;
    margin: 0 20px;
    transform: translateY(-50%);
    z-index: 1;
    width: 45px;
    height: 30px;
    border: 1px solid #F1F1F1;
    border-radius: 10px;
    background-color: transparent;
    display: none;
}

.auto:hover, .pause:hover{
    background-color: #FF7200;
    border: none;
}
.auto i, .pause i{
    font-size: 20px;
}
.pause {
    right: 620px;
}

.auto {
    left: 620px;
}
aside{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #171717;
    width: 100%;
    height: 100px;
}
aside p{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
aside p span{
    color: #fff;
    font-size: 15px;
    margin-left: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
article{
    width: 100%;
    height: 1700px;
    background-color: #000;
    margin-bottom: 3%;
}
article .content>.content1>h3{
    text-align: center;
    font-size: 30px;
    margin-bottom: 3%;
    font-weight: 700;
    font-style: normal;
    font-family: Montserrat, sans-serif;
}

article .content{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    padding: 5% 0;
}
article .content>.content1{
    width: 100%;
    height: 100%;
}
article .products{
    display: flex;
    justify-content: center;
    align-items: center;
}
article .content1 .product{
    border: 1px solid #fff;
    width: 25%;
    padding: 2% 0;
    text-align: center;
    background-color: #171717;
    border: none;
    border-radius: 10px;
    margin: 0 1% 1%;
}
article .product>h6{
    text-align: center;
    font-size: 22px;
    font-family: Montserrat, sans-serif;
}
article .product>.text{
    font-size: 14px;
    font-family: Montserrat, sans-serif;
    color: #F1F1F1;
    padding: 5% 0;
}
article .product .button a {
    border: 2px solid rgba(255, 255, 255, .5);
    color: #fff;
    padding: 2% 5%;
    display: inline-block;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: Montserrat, sans-serif;
    text-decoration: none;
}
article .product .button a:hover{
    background-color: orangered;
    outline: none;
    border: 2px solid orangered;
}
article .product img:hover{
    filter: drop-shadow( 0px 0px 10px #FF7200); 
}
.supports{
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
}
.supports .support{
    background-color: #FF8B10;
    border-radius: 10px;
    width: 80%;
    height: 90%;
    display: flex;
    justify-content: center;
}
.supports .support .fb{
    width: 100%;
    height: 50%;
    margin:  3% auto;
    text-align: center;
}
.fb h6{
    font-size: 30px;
    font-weight: bold;
    font-family: Montserrat, sans-serif;
    color: #000;
    padding-bottom: 2%;
}
.fb .text{
    color: #000;
    font-size: 18px;
    font-family: Barlow, sans-serif;
    margin: 0 0 3% 0;
}
.fb .button a{
    text-decoration: none;
    padding: 1% 5%;
    display: inline-block;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: Montserrat, sans-serif;
    background-color: #000;
}
.fb .button a:hover{
    border: 2px solid #fff;
}
.events{
    padding: 50px 0px;
    width: 100%;
    height: 390px;
}
.events .event h2{
    font-size: 35px;
    margin-bottom: 20px;
    text-align: center;
}
.events .event>.text{
    text-align: center;
}
.projectss{
    width: 100%;
    height: 390px;
    margin-top: 30px;
}
.projectss .projects{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
}
.projectss .project{
    width: 37%;
    height: 90%;
    margin: 0 10px;
    background-color: #171717;
    border-radius: 10px;
}
.projectss .project{
    text-align: center;
    line-height: 55px;
}
.projectss .project h6 a{
    text-decoration: none;
    font-size: 20px;
    color: #f00;
}
.projectss .project .text{
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.projectss .project .button a:hover{
    color: #f00;
}
.projectss .project:hover{
    background-color: #FF8B10;
    transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.shop{
    width: 100%;
    height: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.shop h2{
    color:#000;
    text-align: center;
    margin-bottom: 30px;
    font-size: 35px;
}
.shop ul{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.shop ul li{
    list-style: none;
    position: relative;
}
.shop ul li a{
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.5px;
    color: #000;
    text-decoration: none;
    padding: 0 10px;
    font-family: Barlow, sans-serif;
}
.shop ul>li>a::before{
    content: "";
    background: #f00;
    height: 2px;
    width: 0px;
    position: absolute;
    bottom: 0px;
    left: 11px;
    transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.shop ul>li:hover>a::before{
    width: 85%;
}
.shop ul>li:first-child>a::before{
    width: 85%;
    display: block;
}
.shop .contentsss{
    width: 100%;
    height: 100%;
    margin: 5% 0;
}
.shop .contents{
    width: 100%;
    height: 50%;
}
.shop .content{
    width: 100%;
    margin-top: 20px;
    position: relative;
}
.shop .products{
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
}
.shop .product{
    margin: 0 1%;
    text-align: center;
    position: relative;
}
.shop img{
    width: 250px;
    height: 250px;
    margin-bottom: 10px;
}
.shop .namePC{
    color: #6d6d6d;
    font-size: 14px;
    font-family: Barlow, sans-serif;
    font-weight: 500;
    margin-bottom: 20px;
}
.shop .cost span{
    color: #000;
    font-size: 15px;
    font-family: Barlow, sans-serif;
    font-weight: 500;
}
.shop .cost sup{
    color: #000;
    font-size: 12px;
    font-family: Barlow, sans-serif;
    font-weight: 500;
}
.shop .chitiet{
    color: #000;
    background-color: #fff;
    text-decoration: none;
    font-size: 12px;
    margin-top: 10px;
    padding: 10px 20px;
    border-radius: 5px;
    position: absolute;
    top: 100px;
    left: 80px;
    display: none;
    font-weight: 500;
}
.shop .chitiet:hover{
    background-color: #FF7200;
    text-decoration: underline;
}
.shop .ifo:hover .chitiet{
    display: block;
}
.shop .ifo:hover .anh{
    opacity: 0.5;
    transition: all 0.5s ease;
}
.shop button{
    border: none;
    font-weight: 500;
    color: #fff;
    background-color: #FF7200;
    text-decoration: none;
    font-size: 14px;
    margin-top: 10px;
    padding: 5px 10px;
    font-family: Barlow, sans-serif;
    letter-spacing: 0.5px;
}
.shop button:hover{
    background-color: #cd5c00;
}
.item{
    width: 100%;
    height: 500px;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}
.item .text{
    width: 30%;
    padding: 0px 40px;
}
.item .image {
    width: 45%;
    height: 410px;
    border: 1px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
}
.item img{
    width: 90%;
    height: 370px;
}
.item h2{
    padding: 30px 0px;
}
.item p{
    font-size: 16px;
    font-family: Barlow, sans-serif;
    padding: 10px 0px;
}
.whyqs{
    width: 100%;
    height: 300px;
    background-color: #171717;
    display: flex;
    justify-content: center;
}
.whyqs .text{
    width: 80%;
    padding: 3% 0;
}
.whyqs h2{
    font-size: 20px;
    margin-bottom: 30px;
}
.whyqs p{
    width: 100%;
    height: 75%;
    border-left: 2px solid #fff;
    padding-left: 30px;
    font-size: 20px;
    font-family: Barlow, sans-serif;
}
.news{
    width: 100%;
    height: 600px;
    padding-top: 50px;
    background-color: #000;
}
.news .content{
    width: 100%;
    height: 100%;
}
.news h2{
    text-align: center;
    font-size: 35px;
}
.news .products{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 85%;
}
.news .product{
    width: 24%;
    height: 85%;
    background-color: #fff;
    text-align: center;
    margin: 0px 15px;
}
.news .product img{
    width: 100%;
    height: 180px;
    margin: 0;
    padding: 0;
}
.news h6{
    color: #000;
    font-size: 22px;
}
.news .gach{
    color: #000;
    margin-bottom: 20px;
    font-weight: 900;
}
.news .text{
    color: #000;
    font-size: 16px;
    color: #6d6d6d;
    font-size: 13px;
    padding: 0 5px;
}
.news .button{
    margin-top: 30px;
}
.news .button a{
    color: #000;
    text-decoration: none;
    border: 2px solid #FF7200;
    color: #FF7200;
    padding: 5px 10px;
    font-size: 12px;
    font-weight: 500;
    transition: all 0.3s ease;
}
.news .button a:hover{
    color: #fff;
    background-color: #FF7200;
}
footer{
    width: 100%;
    background-color: #171717;
    padding: 50px 10% 0 10%;
    cursor: pointer;
}
footer .top{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 20px;
}
footer .top .logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    padding: 0 15px 30px;
}
footer .top .logo h1{
    font-size: 25px;
    color: #FF7200;
    margin-left: 2%;
}
footer .top img{
    width: 80px;
    height: 80px;
}footer .top .information{
    padding: 0 15px 30px;
}
footer .top .information p{
    padding: 0 0 20.8px;
    font-family: Barlow, sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
}
footer .bottom{
    width: 100%;
    height: 45%;
    margin-bottom: 30px;
}
footer .rowss{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100%;
}
footer .rowss i{
    color: #FF7200;
    font-size: 14px;
    margin-right: 2px;
}
footer .rowss .rows span{
    font-size: 14px;
    font-family: Barlow, sans-serif;
    letter-spacing: 0.5px;
}
footer h2{
    font-size: 18px;
    padding-bottom: 10px;
}
footer .items{
    margin-bottom: 10px;
    font-size: 14px;
}
footer .bottomm{
    width: 100%;
    height: 15%;
}
footer .bottomm .icon{
    display: flex;
    width: 100%;
    height: 100%;
    margin-bottom: 70px;
}
footer .bottomm .icon a{
    text-decoration: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 1%;
}
footer .bottomm .icon a i{
    font-size: 30px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
footer .bottomm .icon a #icon1:hover{
    color: #3B5998;
    background-color: #fff;
}
footer .bottomm .icon a #icon2:hover{
    color: #ff0000;
    background-color: #fff;
}
footer .bottom3{
    width: 100%;
    height: 40px;
    text-align: center;
    font-size: 14px;
    color: #FFFFFF80;
    font-family: Barlow, sans-serif;
    letter-spacing: 0.5px;
    border-top: 1px solid #FFFFFF80;
    display: flex;
    align-items: center;
    justify-content: center;
}